.form-container{
  min-height: 90vh;
}

.list_item_active:hover{
  cursor:pointer;
  color: white;
  background-color: #546784;
}

.panel_list_item_active:hover{
  cursor:pointer;
  background-color: #f7f7f7;
}
