#dataGrid {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

#dataGrid td, th {
    border: 1px solid #dddddd;
    text-align: left;
}
#dataGrid th {
    height: 30px;
    background-repeat: no-repeat;
    text-align: center;
    min-width: 130px;
    position: relative;
}
#dataGrid th:first-child {
    height: 30px;
    background-repeat: no-repeat;
    text-align: center;
    min-width: 30px;
}
#dataGrid tr td:first-child {
  text-align: center;
  font-weight: bold;
}
#dataGrid tr td {
  height: 35px;
  border: 1px solid #ababab;
}
#dataGrid tr td input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
}
#dataGrid tr td input:focus {
    width: 100%;
    height: 100%;
    border: 2px solid #1fc;
}
#dataGrid tr:nth-child(even) {
    background-color: #dddddd;
}
.dataGridHolder {
  min-width: 100px;
  height: 80vh;
}
.right_col {
  overflow: auto !important;
}
.nav_menu {
  margin-bottom: 0px !important;
}
